
/* HTML CAFE  */
#galeria{
    margin-left: 260px;
    margin-right: 180px;
    text-align: center;

}	

.cuadrado{
    color: white;
    float: left;
    border-radius: 15px;
    border: 2px solid black;
    background-color: red;
    width: 200px;
    height: 150px;
    margin-left: 45px;
    margin-right: 55px;
    margin-top: 25px;    

}

.foto{
    padding-top: 15px;
    margin: auto;
    width: 150px;
}

img{
    width: 80%;
    border-radius: 15px;
}